@import "./reset.css";
@import "./navigation.css";
@import "./footer.css";


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    padding: 3em;
    text-align: center;
}

.footer-menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.footer-menu li a {
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    color: var(--primary);
    display: flex;
}

.footer-menu li a:hover {
    color: var(--light);
}

.footer-copyright,
.footer-contact {
    font-size: small;
}

.footer-menu {
    margin-bottom: 1rem;
}

.footer-contact a {
    color: var(--primary);
    text-decoration: none;
    margin: 0 1rem 0 0;
}

.footer-contact a:hover {
    color: var(--light);
}

@media (min-width: 320px) and (max-width: 768px) {
    .footer-contact p {
        margin-bottom: 1rem;
    }

    .footer-contact span {
        display: block;
        margin-top: 0.5rem;
    }
}

.footer-copyright a.github-link {
    color: var(--light);
    text-decoration: none;
}

.footer-copyright a.github-link:hover {
    color: var(--primary);
}