@import "./reset.css";
@import "./components/navigation.css";
@import "./components/articles.css";
@import "./components/header.css";
@import "./components/contact.css";
@import "./components/footer.css";

/* Colors */
:root {
    --primary: rgb(236, 153, 75);
    --secondary: rgb(115, 119, 123);
    --dark: rgb(21, 19, 60);
    --light: rgb(241, 238, 233);
}

/* Fonts */
html,
body {
    font-family: "Poppins", sans-serif;
}



.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
    width: 100%;
}

