@import "../reset.css";
@import "../css/styles.css";
@import "./components/navigation.css";
@import "./components/contact.css";
@import "./components/articles.css";
@import "./components/header.css";

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    width: 100%;
}

/* Footer top */
.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--tertiary);
    width: 100%;
}

.footer-menu ul {
    display: flex;
    list-style: none;
    gap: 1em;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li a {
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    color: var(--primary);
    display: flex;
    padding: 1em;
    transition: all 0.3s ease-in-out;

    /* Responsive styles */
    @media (min-width: 320px) and (max-width: 768px) {
        font-size: smaller;
    }
}

.footer-menu li a:hover {
    background-color: var(--secondary);
}

/* Footer top end */

/* Footer bottom */

.footer-bottom {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-lighter);
    width: 100%;
    max-width: 100%;
}


.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2em;

    /* Responsive styles */
    @media (min-width: 320px) and (max-width: 768px) {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 1em;
    }
}

/* Footer copyright */
.footer-copyright,
.footer-contact {
    font-size: small;
    color: var(--dark);

    /* Responsive styles */
    @media (min-width: 320px) and (max-width: 768px) {
        justify-content: center;
        align-self: center;
    }
}

.footer-copyright a.github-link {
    color: var(--secondary);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer-copyright a.github-link:hover {
    color: var(--tertiary);
}
/* Footer copyright end */

/* Footer contact */
.footer-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    color:var(--dark);

    @media (min-width: 320px) and (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.footer-contact i{
    margin-right: 0.5em;
    color: var(--secondary);
}


.footer-contact a {
    color: var(--secondary);
    text-decoration: none;
    margin-right: 2em;
    transition: all 0.3s ease-in-out;
}

.footer-contact a:hover {
    color: var(--tertiary);
}
/* Footer contact end */

/* Footer bottom end */