@import "../reset.css";
@import "../css/styles.css";
@import "./components/navigation.css";
@import "./components/articles.css";
@import "./components/header.css";
@import "./components/contact.css";



footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    padding: 3em;
    text-align: center;
}

.footer-menu ul {
    display: flex;
    gap: 2em;
    list-style: none;
}

.footer-menu li a {
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    color: var(--primary);
    display: flex;
}

.footer-menu li a:hover {
    color: var(--light);
}

.footer-row{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    gap: 2em;
}

.footer-copyright{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.footer-contact{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.footer-copyright,
.footer-contact {
    font-size: small;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu li {
    display: inline-block;
    margin-right: 10px;
}

.footer-menu {
    margin-bottom: 1rem;
}

.footer-contact{
    align-self:end;
}

.footer-contact a {
    color: var(--primary);
    text-decoration: none;
    margin: 0 1rem 0 0;
}

.footer-contact a:hover {
    color: var(--light);
}



/* --------------------------------------------------------  
                    Responsive Design
----------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 768px) {
    .footer-contact p {
        margin-bottom: 1rem;
    }

    .footer-contact span {
        display: block;
        margin-top: 0.5rem;
    }
}

.footer-copyright a.github-link {
    color: var(--light);
    text-decoration: none;
}

.footer-copyright a.github-link:hover {
    color: var(--primary);
}
