@import "../reset.css";
@import "../css/styles.css";
@import "./components/articles.css";
@import "./components/header.css";
@import "./components/contact.css";
@import "./components/footer.css";


.navbar {
    width: 100%;
    height: auto;
    background-color: var(--tertiary);
    position: relative;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    /* Responsive styles */
    @media (min-width: 320px) and (max-width: 768px) {
        justify-content: center;
        flex-direction: column;
    }
}

/* Logo */
.navbar-brand img {
    width: 12em;

    /* Responsive styles */
    @media (min-width: 320px) and (max-width: 768px) {
        margin-bottom: 2em;
    }
}

/* Logo end */

/* --------------------------------------------------------
                    Menu styles
-------------------------------------------------------- */
.navbar-menu {
    position: absolute;
    bottom: 0.7em;
    right: 0;

    /* Responsive styles */
    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navbar-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap:0.5em;
}

.navbar-menu li a {
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    border-radius: 1em 1em 0 0;
    color: var(--light);
    padding: 0.5em 1.5em;
    transition: all 0.3s ease-in-out;
}

.navbar-menu li a:hover {
    color: var(--light);
    background-color: var(--secondary);
}

/* --------------------------------------------------------
                    Menu styles end
-------------------------------------------------------- */